img {
    border: 3px solid black;
    height: 300px;
    width: 300px;
}

h1{
    color: forestgreen;
    font-size: 40px;
    font-style: italic;    
}

p{
    color: royalblue;
    font-size: 30px;
    font-style: oblique;
}
